@model IEnumerable<WebBanSach.Models.NHAXUATBAN>

<select name="tenNXBOption">
    @foreach (var item in Model)
    {
        if (item.TenNXB != ViewBag.NXB)
        {
            <option value="@item.TenNXB">
                @item.TenNXB
            </option>
        }
        else
        {
            <option value="@item.TenNXB" selected="selected">
                @item.TenNXB
            </option>
        }

    }
    <option value="Other">
        Other
    </option>
</select>

