.Order-Board {
    margin: 10px auto;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 8px;
}
.Amount-Bar {
    margin: 10px auto;
    width: 100%;
    height: auto;
}
.fix-table {
    text-transform: uppercase;
    color: rgb(19 211 238);
    text-align: center;
    vertical-align: middle;
}
    .fix-table th {
        width: auto;
    }

.div-center-InfoWeb {
    top: 30px;
}
.PayBtn {
    border: none;
    background-color: #C92127;
    color: white;
    border-radius: 8px;
    margin-right: 30px;
    margin-top: 30px;
}

/*Pagination*/
main {
    position: relative;
    padding: 1rem 1rem 3rem;
    /* min-height: calc(100vh - 4rem); */
}

h1 {
    margin-top: 0;
}

.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button {
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

    .pagination-number:hover,
    .pagination-button:not(.disabled):hover {
        background: #fff;
    }

    .pagination-number.active {
        color: #fff;
        background: #0085b6;
    }

