.div-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

    .div-title:hover {
        color: black;
    }

.current-title {
    text-decoration: none;
    color: orange;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.Describe-Box {
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: white;
}
    .Describe-Box button {
        background-color: rgb(189, 33, 36);
        color: white;
        width: 25%;
        border-radius: 8px;
    }
    .Describe-Box .ThemSanPham {
        border-color: rgb(189, 33, 36);
        background-color: white;
        color: rgb(189, 33, 36);
    }

    .Describe-Box .MuaSanPham {
        border: none;
        margin-left: 20px;
    }

    .Describe-Box .ThemSanPham:hover {
        background-color: rgb(255, 211, 0);
        color: white;
        opacity: 0.8;
    }

    .Describe-Box .MuaSanPham:hover {
        background-color: rgb(255, 211, 0);
        color: orange;
        opacity: 0.8;
    }
.Content-Box {
    width: 100%;
    margin-top: 20px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: white;
}

    .Content-Box .table-product {
        border: none;
        width: 100%;
        height: auto;
        font-size: 0.7em;
        padding-top: 12px;
        max-width: 100%;
        padding-left: 0 !important;
        line-height: 1.6;
        text-align: left;
        vertical-align: baseline;
        color: #777;
        border-spacing: 0;
        border-collapse: collapse;
    }

        .Content-Box .table-product tr .NameDetail {
            width: auto;
            height: auto;
            font-weight: 600;
            -webkit-text-size-adjust: auto;
            word-wrap: break-word;
            padding: 4px;
            padding-left: 17px;
        }

        .Content-Box .table-product tr .InfoDetail {
            width: auto;
            height: auto;
            font-weight: 300;
            -webkit-text-size-adjust: auto;
            display: flex;
            flex-wrap: wrap;
            padding: 4px;
        }

.LinkType{
    text-decoration: none;
}
    .LinkType:hover {
        color: rgb(255, 187, 0)
    }

.table-product {
    margin: 10px 0;
}

.div-center-InfoWeb {
    top: 30px;
}
