.div-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
    .div-title:hover {
        color: black;
    }

.current-title {
    text-decoration: none;
    color: orange;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.Describe-Box {
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 8px;
}

.div-center-InfoWeb {
    top: 40px;
}

