.div-center-Page {
	height: auto;
	background-color: white;
}

	.div-center-Page .Size-Form {
		width: auto;
		height: 700px;
		border-radius: 8px;
	}

.div-center-InfoWeb {
	top: 40px;
}

/*Phần checkbox Animation*/

input[type='radio'] {
	box-sizing: border-box;
	border-radius: 10%;
	appearance: none;
	background: white;
	outline: 1px solid #333;
	width: 14px;
	height: 14px;
}

	input[type='radio']:checked {
		background-color: orange;
	}

.Switch-Section {
	position: relative;
	width: 100%;
	top: 40px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.Type-Section {
	position: relative;
	width: 100%;
	top: 75px;
	display: flex;
	justify-content: center;
	background-color: red;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.form-label {
	float: left;
	padding-top: 20px;
	padding-bottom: 0px;
}

.form-control {
	float: left;
}

.ConfirmBtn {
	width: 160px;
	height: 35px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 20px;
	clear: both;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.Size-Btn {
	width: 220px;
	height: 50px;
	background-color: white;
	font-size: 14px;
	font-weight: bold;
}


.form-container {
	width: auto;
	height: auto;
}


#logoMenu {
	top: 25px;
}

.div-center-InfoWeb {
	top: 40px;
}

