* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 22px;
    font-size: 20px;
    background-color: rgb(234, 234, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Heading Section*/

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

#header {
    font-family: sans-serif;
    background-color: white;
    width: auto;
    height: 200px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    width: 0px;
    height: 0px;
}

#logo {
    text-decoration: none;
    width: 220px;
    height: 100px;
    padding: 7px 0px;
    color: rgb(189, 33, 36);
    font-size: 250%;
    font-weight: bolder;
    position: absolute;
    top: 110px;
    left: 340px;
}

.SearchBar {
    position: absolute;
    top: 100px;
    left: 670px;
}

#SearchBar {
    border: none;
    background-color: #eee;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    width: 380px;
    height: 40px;
    border-radius: 10px;
}


#logoMenu {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 585px;
    border: none;
    cursor: pointer;
}

.frst-Upper {
    background-color: hotpink;
}
.marquee {
    width: 100%;
    height: 80px;
    position: relative;
    clear: both;
    margin: 0 auto;
    color: rgb(189, 33, 36);
    font-size: 120%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

    .marquee div {
        display: inline-block;
        width: 200%;
        height: 30px;
        position: absolute;
        overflow: hidden;
        animation: marquee 60s normal infinite;
    }

    .marquee span {
        width: 100%;
    }

@keyframes marquee {
    from {
        left: -125%;
    }

    to {
        left: 100%;
    }
}

.wp-inner {
    width: 100%;
    margin: 0 auto;
}

#main-menu {
    list-style: none;
    float: right;
}
    #main-menu li {
        float: left;
    }

        #main-menu li a {
            width: 180px;
            height: 70px;
            position: relative;
            left: 490px;
            top: 10px;
            display: block;
            padding: 10px 30px;
            text-decoration: none;
        }
            #main-menu li a img {
                width: 40px;
                height: 40px;
                color: gray;
            }
            #main-menu li a div {
                text-transform: uppercase;
                color: gray;
                text-align: center;
            }

            #main-menu li a:hover {
                background-color: indianred;
            }

td.Choice {
    color: deeppink;
    text-align: left;
    font-size: 110%;
    font-weight: lighter;
    padding-left: 20px;
}
    td.Choice .ChoiceType {
        color: slategray;
        text-decoration: none;
    }


    td.TitleChoice {
        color: coral;
        font-size: 110%;
        text-align: center;
        font-weight: bold;
        padding-bottom: 140px;
        padding-right: 20px;
    }

.dropdown-content {
    display : none;
    position: absolute;
    background-color: aliceblue;
    width: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 16px;
    top: 70px;
    left: 350px;
    z-index: 101;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Body Section*/

.div-center-ADs-1 {
    width: 65%;
    height: 300px;
    background-color: rgb(234, 234, 235);
    clear: both;
    position: relative;
    top: 20px;
    margin: 0 auto;
}

.ADs-col1 {
    width: 61.2%;
    background-color: red;
    height: 300px;
    position: relative;
    float: left;
    display: inline-block;
}

.ADs-Image {
    position: relative;
    display: none;
    width: 100%;
    height: 300px;
    animation-name: RightToLeft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes RightToLeft {
    100% {
        right: 0px;
        left: 0px;
    }
}

/*---Css Nút qua lại---*/
.image-button-arrow {
    border: none;
    display: inline-block;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    background-color: palevioletred;
    position: absolute;
    top: calc(50% - 25px);
    opacity: 0.5;
}
    .image-button-arrow:hover {
        color: #000;
        background-color: orangered;
    }
/*---Css Chấm tròn---*/
.badge {
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    word-spacing: 12px;
    background-color: transparent;
}
.badge-white {
    color: red !important;
    background-color: red !important
}

.image-button-circle {
    display: inline-block;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
}

    .image-button-circle:hover {
        background: red;
    }

.button-left {
    left: 1%;
    font-size: 20px
}

.button-right {
    right: 1%;
    font-size: 20px
}

.ads-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.ADs-col-2-row-1 {
    width: 38%;
    height: 145px;
    float: right;
    background-color: yellow;
}

.ADs-col-2-row-2 {
    width: 38%;
    margin-top: 10px;
    height: 145px;
    float: right;
    background-color: pink;
}


.div-center-ADs-2 {
    width: 65%;
    height: 200px;
    background-color: rgb(234, 234, 235);
    clear: both;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

.ADs-row {
    color: white;
    display: inline-block;
   
}

.ads-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 100%;
}

.div-center-Products {
    width: 65%;
    height: 1100px;
    background-color: white;
    clear: both;
    position: relative;
    top: 80px;
    margin: 0 auto;
}

.div-center-InfoWeb {
    width: 65%;
    height: 400px;
    background-color: white;
    clear: both;
    position: relative;
    margin: 0 auto;
}
.div-center-InfoWeb {
    top: 120px;
}
    .div-center-InfoWeb .end-page-left {
        width: 40%;
        height: 90%;
        float: left;
        position: relative;
        margin: 0 auto;
    }
    .div-center-InfoWeb .end-page-right {
        width: 60%;
        height: 90%;
        float: right;
        position: relative;
        margin: 0 auto;
    }
    .div-center-InfoWeb .end-page-center {
        width: 100%;
        height: 10%;
        float: right;
        position: relative;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }

#logo-end {
    text-decoration: none;
    width: 220px;
    height: 100px;
    padding: 7px 0px;
    color: rgb(189, 33, 36);
    font-size: 300%;
    font-weight: bolder;
    position: absolute;
    top: 40px;
    left: 4px;
}

.address-info {
    position: absolute;
    padding-right: 70px;
    top: 100px;
    left: 4px;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
}

.Serice-table {
    position: absolute;
    text-align: justify;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
    word-wrap: break-word;
}
.table-center {
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


