* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background-color: rgb(234, 234, 235);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Heading Section*/

.fl-left {
    float: left;
}

.fl-right {
    float: right;
    margin-left: 560px;
}


#header {
    font-family: sans-serif;
    background-color: white;
    width: auto;
}

.clearfix:after {
    color: rgb(189, 33, 36);
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    width: 0px;
    height: 0px;
}

#logo {
    text-decoration: none;
    color: rgb(189, 33, 36);
    font-size: 250%;
    font-weight: bolder;
    -webkit-text-size-adjust: auto;
}


#SearchBar {
    border: none;
    background-color: #eee;
    padding: 12px 15px;
    margin: 8px 0;
    width: auto;
    margin-top: 20px;
    border-radius: 10px;
}


#logoMenu {
    width: 70px;
    height: 70px;
}

.frst-Upper {
    background-color: hotpink;
}

.marquee {
    width: 100%;
    height: 80px;
    position: relative;
    clear: both;
    margin: 0 auto;
    color: rgb(189, 33, 36);
    font-size: 120%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

    .marquee div {
        display: inline-block;
        width: 200%;
        height: 30px;
        position: absolute;
        overflow: hidden;
        animation: marquee 60s normal infinite;
    }

    .marquee span {
        width: 100%;
    }

@keyframes marquee {
    from {
        left: -125%;
    }

    to {
        left: 100%;
    }
}

.wp-inner {
    width: auto;
    margin: 0 auto;
}

.main-menu {
    list-style: none;
}

    .main-menu a {
        width: auto;
        border-radius: 8px;
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
        text-align: center;
    }

        .main-menu a img {
            width: 35px;
            height: 35px;
            margin-left: 0;
            margin-right: 70px;
            align-content: center;
            color: gray;
        }

        .main-menu a div {
            text-transform: uppercase;
            font-size: 14px;
            color: gray;
            text-align: center;
        }

        .main-menu a:hover {
            background-color: indianred;
        }


.show {
    position: relative;
    top: 8px;
    background-color: rgb(219, 219, 204);
}

td.TitleChoice {
    color: coral;
    width: auto;
    font-size: 110%;
    text-align: center;
    font-weight: bold;
    padding-bottom: 140px;
    padding-right: 20px;
}

.Choice {
    color: deeppink;
    height: auto;
    width: auto;
    text-align: left;
    font-size: 110%;
    font-weight: lighter;
    padding-left: 20px;
}

    .Choice .ChoiceType {
        color: slategray;
        text-decoration: none;
        margin: 30px;
    }
        .Choice .ChoiceType:hover{
            color: rgb(255, 187, 0)
        }



.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: max-content;
    height: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 16px;
    z-index: 101;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Body Section*/
.div-center-ADs-1 {
    width: 100%;
    height: 12%;
    background-color: rgb(234, 234, 235);
    clear: both;
    position: relative;
    top: 20px;
    margin: 0 auto;
}

.ADs-col1 {
    width: 61.2%;
    background-color: red;
    height: 300px;
    position: relative;
    float: left;
    display: inline-block;
}

.ADs-Image {
    position: relative;
    display: none;
    width: 100%;
    height: 300px;
    border-radius: 8px;
    animation-name: RightToLeft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes RightToLeft {
    100% {
        right: 0px;
        left: 0px;
    }
}

/*---Css Nút qua lại---*/
.image-button-arrow {
    border: none;
    display: inline-block;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    background-color: palevioletred;
    position: absolute;
    top: calc(50% - 25px);
    opacity: 0.5;
}

    .image-button-arrow:hover {
        color: #000;
        background-color: orangered;
    }
/*---Css Chấm tròn---*/
.badge {
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    word-spacing: 12px;
    background-color: transparent;
}

.badge-white {
    color: red !important;
    background-color: red !important
}

.image-button-circle {
    display: inline-block;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
}

    .image-button-circle:hover {
        background: red;
    }

.button-left {
    left: 1%;
    font-size: 20px
}

.button-right {
    right: 1%;
    font-size: 20px
}

.ads-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.ADs-col-2-row-1 {
    width: 38%;
    height: 145px;
    float: right;
    background-color: yellow;
}

.ADs-col-2-row-2 {
    width: 38%;
    margin-top: 10px;
    height: 145px;
    float: right;
    background-color: pink;
}


.div-center-ADs-2 {
    width: auto;
    height: 10%;
    background-color: rgb(234, 234, 235);
    clear: both;
    position: relative;
    top: 35px;
    margin: 0 auto;
}

    .div-center-ADs-2 table {
        text-align: center;
        width: 100%;
    }

        .div-center-ADs-2 table td {
            height: 200px;
        }

            .div-center-ADs-2 table td .ADs-row {
                width: 0 auto;
                height: 0 auto;
                margin: 0 auto;
            }


.ads-2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 100%;
    border-radius: 8px;
}

.div-center-Page {
    width: 65%;
    height: auto;
    background-color: rgb(234, 234, 235);
    border-radius: 8px;
    clear: both;
    position: relative;
    top: 15px;
    margin: 0 auto;
}

.div-center-PopularProducts {
    width: 100%;
    height: 76%;
    border-radius: 8px;
    background-color: white;
    clear: both;
    position: relative;
    top: 50px;
    margin: 0 auto;
}

.div-center-InfoWeb {
    width: 65%;
    height: auto;
    border-radius: 8px;
    background-color: white;
    clear: both;
    position: relative;
    margin: 0 auto;
    top: 120px;
}
    .div-center-InfoWeb .table-Info_Web {
        border: none;
        width: auto;
        height: auto;
        font-size: 0.7em;
        padding-top: 12px;
        max-width: 100%;
        padding-left: 0 !important;
        line-height: 1.6;
        text-align: left;
        vertical-align: baseline;
        border-spacing: 0;
        border-collapse: collapse;
    }

        .div-center-InfoWeb .table-Info_Web .title-Info a {
            text-align: left;
            text-decoration: none;
            font-size: 300%;
            font-weight: bolder;
            color: rgb(189, 33, 36);
        }

        .div-center-InfoWeb .table-Info_Web tr td {
            width: auto;
            height: auto;
            -webkit-text-size-adjust: auto;
            padding: 4px;
            padding-right: 50px;
            padding-left: 17px;
            overflow-wrap: anywhere;
        }

        .div-center-InfoWeb .end-page-center {
            width: 100%;
            height: auto;
            position: relative;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            padding-top: 20px;
        }



.address-info {
    padding-left: 30px;
    padding-right: 70px;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
    flex-direction: row;
    flex-wrap: wrap;
    font-size-adjust: initial;
}

.card:hover .card-img-top{
    opacity:0.5;
}

.list-group-item:last-child {
    line-height: 2;
}

.list-group-item:last-child{
    line-height:2;
}

@media only screen and (max-width: 1024px) {
    .div-center-Page {
        width: 100%;
    }
    .div-center-InfoWeb {
        width: 100%;
    }
}
