#div-pro-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-pro {
    height: 300px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.size-img{
    height: 200px;
    width: auto;
}

.box-descritption {
    height: 120px;
    width: auto;
    margin-right: 40px;
    margin-top: 10px;
}
.margin-des {
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
}

.PriceBook {
    color: #C92127
}