#div-pro-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-pro{
    height: 350px;
    width: 300px;
    text-align: center;
}

.size-img{
    height: 200px;
    width: auto;
    margin-right: 40px;
    margin-top: 10px;
}

.box-descritption {
    height: 120px;
    width: auto;
    margin-right: 40px;
    margin-top: 10px;
}
.margin-des {
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
}

.PriceBook {
    color: #C92127
}

.box-pro {
    margin: auto;
    margin-top: 10px;
}

.dropdown-sort {
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: 700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 16px;
    top: 70px;
    left: 350px;
    z-index: 105;
}

.dropdown:hover .dropdown-sort {
    display: block;
}