#div-pro-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-pro{
    height: 350px;
    width: 300px;
    text-align: center;
}

.size-img{
    height: 200px;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
}

.box-descritption {
    height: 120px;
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
}
.margin-des {
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
    text-align: justify-all;
}

.PriceBook {
    color: #C92127
}

.box-pro {
    margin: auto;
    margin-top: 10px;
}
.div-center-InfoWeb {
    top: 120px;
}
