.div-center-Page {
    height: auto;
    background-color: white;
}

    .div-center-Page .div-left-title {
        width: 100%;
        height: 3%;
        background-color: rgb(234, 234, 235);
        position: relative;
        margin: 0 auto;
        display: flex;
    }

        .div-center-Page .div-left-title div {
            margin-top: auto;
            margin-bottom: auto;
            text-align: left;
            color: black;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }

            .div-center-Page .div-left-title div span {
                color: orange;
            }

            .div-center-Page .div-left-title div a {
                text-decoration: none;
                color: black;
            }

    .div-center-Page .div-left-info {
        width: 26%;
        height: auto;
        border-radius: 8px;
        background-color: pink;
        border-color: orange;
        position: relative;
        background-color: white;
        float: left;
        margin: 0 auto;
        margin-top: 20px;
    }

        .div-center-Page .div-left-info .Menu-Choice {
            width: auto;
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
            -webkit-text-size-adjust: auto;
        }

            .div-center-Page .div-left-info .Menu-Choice .Title-Choice {
                font-size: 18px;
                text-align: left;
            }

            .div-center-Page .div-left-info .Menu-Choice li {
                font-size: 16px;
                list-style: none;
                width: max-content;
            }

    .div-center-Page .div-right-product {
        width: 72%;
        height: auto;
        border-radius: 8px;
        border-color: red;
        position: relative;
        background-color: white;
        float: right;
        margin: 0 auto;
        margin-top: 20px;
    }

        .div-center-Page .div-right-product .row .product {
            width: 100%;
            height: auto;
            justify-content: left;
            flex-direction: row;
            flex-wrap: wrap;
            font: -webkit-control;
        }

.div-center-InfoWeb {
    top: 50px;
}

.PriceOption {
    text-decoration: none;
    color: rgb(133, 133, 155);
    font-weight: bold;
}
    .PriceOption:hover {
        color: rgb(255, 187, 0);
    }

/*Pháº§n checkbox Animation*/
input[type='radio'] {
    box-sizing: border-box;
    border-radius: 10%;
    appearance: none;
    background: white;
    outline: 1px solid #333;
    width: 14px;
    height: 14px;
}

    input[type='radio']:checked {
        background-color: orange;
    }
