<div class="Order-Board" style="background-color:white;">
    <ol style="list-style: none; margin: 20px; padding: 45px">
        <li style="text-align:center;">
            <img style="width: 30%; height: 30%;" src="~/Content/Images/GoShoppingIcon.jpg">
        </li>
        <li style="text-align: center; margin: 25px;">
            Chưa có sản phẩm trong giỏ hàng của bạn.
        </li>
        <li style="text-align: center; margin: 25px;">
            <a href="@Url.Action("Home", "TrangChu")" , target="_self">
                <button type="button" style="width: 20%; background-color: #C92127; border-radius: 8px; color: white; border: none; place-content: center">
                    <p style="font-size: 1em; font-weight: lighter; margin: 5px">
                        MUA SẮM NGAY
                    </p>
                </button>
            </a>
        </li>
    </ol>
</div>
