<a href="@Url.Action("GetCartInfo", "Cart")" target="_self" class="nav-link">
    <img src="~/Content/Images/Icon_Shopping.png" alt="Icon_Shopping.png bị lỗi" style="width: auto; margin-left: 28%;" />
    <div>Giỏ hàng(@ViewBag.TotalNumber)</div>
</a>
