@using WebBanSach.Models
@model List<CartItem>
@{
    string actionMethod = "";
    if(ViewBag.TotalNumber == 0)
    {
        actionMethod = "CartEmpty";
    }
    else
    {
        actionMethod = "CartNotEmpty";
    }
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<link rel="stylesheet" href="~/Content/Cart.css"/>
<div class="Amount-Bar">
    <h4 style="text-align: left">GIỎ HÀNG (@ViewBag.TotalNumber sản phẩm)</h4>
</div>
@Html.Action(actionMethod, "Cart")


