
@{
    ViewBag.Title = "TaiKhoanBtn";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/LoginRegister.css" />
<div class="LoginSection">
    <div class="Switch-Section">
        <button class="Size-Btn" id="signUp" style="margin-right: 10px">
            Đăng nhập
        </button>
        <button class="Size-Btn" id="signIn">
            Đăng ký
        </button>
    </div>
    <div class="Type-Section">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="#">
                    <div>
                        <label for="uname" class="form-label">Tài khoản</label>
                        <input type="text" class="form-control" placeholder="Tên đăng nhập....." name="uname">
                    </div>
                    <div>
                        <label for="pwd" class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Mật khẩu....." name="pswd">
                    </div>
                    <button type="submit" class="ConfirmBtn">Đăng nhập</button>
                </form>
            </div>

            <div class="form-container sign-in-container">
                <form action="#">
                    <div>
                        <label class="form-label">Tài khoản</label>
                        <input type="text" class="form-control" placeholder="Tên đăng nhập....." name="uname">
                    </div>
                    <div>
                        <label class="form-label">Mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Mật khẩu....." name="pswd">
                    </div>

                    <div>
                        <label  class="form-label">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Mật khẩu....." name="pswd">
                    </div>
                    <button type="submit" class="ConfirmBtn">Đăng ký</button>
                </form>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h2>Chào bạn trở lại!</h2>
                        <p>Để tiếp tục đồng hành cùng mua sách và thưởng thức thì bạn hãy đăng nhập nào!</p>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h2>Chào người mới!</h2>
                        <p>Bạn hãy đăng ký nào vì đọc sách là một điều tốt đúng không nào!</p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
</script>

