
@{
    ViewBag.Title = "Tiểu thuyết";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/TieuThuyet.css" />
<link rel="stylesheet" href="~/Content/ProductStylePro.css" />
<div class="div-center-Page">
    <div class="div-left-info"> left</div>
     <div class="div-right-product">right</div>
    @*<div id="div-pro-list">
        <div class="box-pro">
            <img src="~/Content/Images/sach-lap-trinh-web-1.jpg" atl="sach-lap-trinh-web-1.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">HTML&CSS: design and build websites</p>
                <p class="margin-des PriceBook">1.350.000₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/sach-lap-trinh-web-2-1680x2048.jpg" atl="sach-lap-trinh-web-2-1680x2048.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">Learning web design: a beginner's guide to HTML, CSS, Javascript and Web graphics</p>
                <p class="margin-des PriceBook">1.242.500₫</p>

            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/one-punch_man_8e2c707f86144017a5ab62c76ddf59b3_grande.png" atl="one-punch_man_8e2c707f86144017a5ab62c76ddf59b3_grande.png bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">One-Punch Man (Trọn bộ SS1)</p>
                <p class="margin-des PriceBook">1.000.000₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/sach-lap-trinh-web-4.jpg" atl="sach-lap-trinh-web-4.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">Don't make me think (Revisited)</p>
                <p class="margin-des PriceBook">995.500₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/sach-lap-trinh-web-5.jpg" atl="sach-lap-trinh-web-5.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">CSS Mastery: Advanced web standards solutions [Second Edition]</p>
                <p class="margin-des PriceBook">1.245.500₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/detective_conan__tham_tu_lung_danh_conan__5ce554a77fad4146898e7cd379f59eab_grande.png" atl="detective_conan__tham_tu_lung_danh_conan__5ce554a77fad4146898e7cd379f59eab_grande.png bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">Combo Thám Tử Lừng Danh Conan - Tập 71 Đến Tập 80</p>
                <p class="margin-des PriceBook">200,000₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/attack_on_titan_c8aa7f2ae99a48f59e6e2813b8f971b3_grande.png" atl="attack_on_titan_c8aa7f2ae99a48f59e6e2813b8f971b3_grande.png bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">Attack on Titan (Trọn bộ - 139 chap)</p>
                <p class="margin-des PriceBook">8.000.000₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/one_piece_9dd124974dc24684ba461665c4b27c5c_grande.png" atl="one_piece_9dd124974dc24684ba461665c4b27c5c_grande.png bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">One Piece (Tập 50 đến Tập 60)</p>
                <p class="margin-des PriceBook">250.000₫</p>
            </div>
        </div>
        <div class="box-pro">

            <img src="~/Content/Images/tieuthuyet1.jpg" atl="tieuthuyet1.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">5 Centimet trên giây - Shinkai Makoto</p>
                <p class="margin-des PriceBook">98.000₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/tieuthuyet2.jpg" atl="tieuthuyet2.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">Tiệm trà cổ - Tiểu thuyết 12 chòm sao</p>
                <p class="margin-des PriceBook">97.000đ</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/tieuthuyet3.jpg" atl="tieuthuyet3.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">Yêu anh hơn cả tử thần - Tào Đình (Dịch tiểu thuyết: Dạ Nguyệt)</p>
                <p class="margin-des PriceBook">78.000₫</p>
            </div>
        </div>
        <div class="box-pro">
            <img src="~/Content/Images/tieuthuyet4.jpg" atl="tieuthuyet4.jpg bị lỗi" class="size-img" />
            <div class="box-description">
                <p class="margin-des">Đô thị trong tiểu thuyết Việt Nam đương đại - TS. Đỗ Thanh Hương</p>
                <p class="margin-des PriceBook">101.000₫</p>
            </div>
        </div>
    </div>*@
</div>
